<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiny.loginregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="Login Page"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation"
            android:label="Register Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAreaActivity"
            android:configChanges="orientation"
            android:label="Home Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation"
            android:label="Library Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckOutActivity"
            android:configChanges="orientation"
            android:label="CheckOut Page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:configChanges="orientation"
            android:label="My Books"
            android:screenOrientation="portrait" />

    </application>

</manifest>